<aside id="sidebar" class="main-item sidebar">
	<div class="sticky">
		<img src="/assets/images/pfp_cropped_400x400.png" width="100px"/>

		<p style="margin-top: 20px;"><b>socials</b></p>

		<a href="https://twitter.com/estroBiologist">twitter</a><br>
		<a href="https://youtube.com/@estroBiologist">youtube</a><br>
		<a href="https://github.com/estroBiologist">github</a><br>
		<a href="https://cohost.org/estroBiologist">cohost</a><br>
		<a href="https://shrike.club/web/@estroBiologist">masto</a><br>
		<a href="https://estrobiologist.tumblr.com/">tumblr</a><br>

		<p style="margin-top: 40px;"><b>projects</b></p>

		<a href="https://github.com/comune-lang/comune">comune</a><br>
		<a href="https://github.com/estroBiologist/pluralchum">pluralchum</a><br>
		<a href="https://github.com/estroBiologist/CDPATedit">cdpat</a><br>

		<p style="margin-top: 40px;"><b>music</b></p>

		<a href="https://8reath-of-light.bandcamp.com/">godfeels</a><br>
		<a href="https://music.deconreconstruction.com/people/ash-taylor">vast error</a><br>
	</div>
</aside>
