body {
	background-color: rgb(12, 5, 35);
	font-size: 20px;
	color: white;
	font-weight: lighter;
	font-family: "Nunito Sans";
	text-align: center;
	background-attachment: fixed;
	margin: 0px;
}

b {
	font-weight: bold;
}

.content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 950px;
}

.header {
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 1000px;
	text-shadow: 0 0 10px black;
}

.main {
	display: flex;
}

.main-item {
	background-color: rgb(16, 16, 42);
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	padding-left: 10px;
	padding-right: 10px;
}

#page-content {
	padding-left: 50px; 
	padding-right: 50px;
	flex-grow: 1;
	max-width: 950px;
}

#post-content p {
	text-align: justify;
}
#post-content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	margin: 0;
	font-size: 120px;
	font-weight: 800;
}

h2 {
	margin-top: 75px;
	margin-bottom: 25px;
}

a {
	color: #ff434c;
}

* {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

#page-content ul li {
	margin-bottom: 10px;
}

#post-content ul {
	list-style-type: disc;
	text-align: left;
	padding: 0px 50px;
}

.post-thumbnail-link {
	display: flex; justify-content: center; align-items: center;
}

.post-thumbnail {
	object-fit: cover; 
	width: 100px; 
	height: 100px; 
	margin-right: 10px; 
	margin-top: auto; 
	margin-bottom: auto;
}

.post-link {
	text-align: left;
	font-size: 16px;
	display: flex;
	flex-flow: row nowrap;
	background: rgb(9, 9, 27);
	padding: 10px;
	border-radius: 10px;
	span {
		color: #acacac;
	}
	p {
		margin-top: 0px;
	}
}

.navbar li {
	display: inline-block;
	width: 24%;
	text-align: center;
	text-shadow: 0 0 10px black;
	font-weight: 600;
}

.footer {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	height: 80px;
	vertical-align: middle;
	color: #c2c2c2;
	text-shadow: 0 0 5px black;

}

.sidebar {
	min-width: 200px;
	margin-left: 10px;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding-top: 30px;
	padding-bottom: 30px;
}

iframe {
	border-radius: 10px;
}

img {
	border-radius: 10px;
}